.exercise-element {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0 20px;
}

.exercise-name {
    font-size: 24px;
}

.exercise-name a {
    color: #000000;
}

.exercise-name a:hover {
    color: #565656;
}

.exercise-disc {}