<div class="alert alert-info" *ngIf="!hasExercises()">
    No exercises! <a [routerLink]="['/exercise-create']">Add exercise</a>
</div>
<div *ngIf="hasExercises()">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="uppercase">Exercises list:</h1>
            <button class="btn btn-secondary float-right" [routerLink]="['/exercise-create']">Add Exercise</button>
        </div>
    </div>
    <hr/>
    <div *ngFor="let exercise of exercises; let i=index" class="list-element">
        <strong class="list-name uppercase">
            <a [routerLink]="['/exercise', exercise.id]">{{ exercise.name }}</a>
        </strong>
        <div class="list-desc">
            <span>{{ exercise.description }}</span>
        </div>
    </div>
</div>