<div class="jumbotron">
    <button type="submit" class="btn btn-link" (click)="navigateList()">>> List</button>
    <div class="row">
        <h1 class="col">{{ workout.name }}</h1>
        <div class="col-lg-2 btn-group">
            <button class="btn btn-warning" type="submit" [routerLink]="['/workout-create', workout.id]">Edit</button>
            <button class="btn btn-danger" type="submit" (click)="deleteWorkoutModal.show()">Delete</button>
        </div>
        <app-modal #deleteWorkoutModal>
            <div class="app-modal-body">
                Are you sure you want to remove this workout?
            </div>
            <div class="app-modal-footer">
                <button type="button" class="btn btn-default" (click)="deleteWorkoutModal.hide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="deleteWorkout()">Delete</button>
            </div>
        </app-modal>
    </div>
    <hr />
    <div class="list-desc">
        {{ workout.description }}
    </div>
    <hr />
    <div *ngIf="!hasDays()">
        No days defined for {{ workout. name }}
    </div>
    <div *ngFor="let day of workout.days; let i = index">
        <div *ngIf="!hasExerciseSet(i)">
            No exercise specified for {{ day.name }}
        </div>
        <div class="top-buffer" *ngIf="hasExerciseSet(i)">
            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th class="text-center" colspan="3">{{ day.name }}</th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th class="text-center">Sets</th>
                        <th class="text-center">Reps</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let exerciseSet of day.exerciseSets">
                        <td>{{ exerciseSet.exercise.name }}</td>
                        <td class="text-center">{{ exerciseSet.sets }}</td>
                        <td class="text-center">{{ exerciseSet.reps }}</td>
                    </tr>
                </tbody>
            </table>
            <hr />
        </div>
    </div>
</div>
<div>
    <hr /> {{ workout | json }}
</div>