<div class="alert alert-info" *ngIf="!hasExercises()">
    No exercises!
</div>
<div *ngIf="hasExercises()">
    <h1 class="uppercase">Exercises list:</h1>
    <hr/>
    <div *ngFor="let exercise of exercises; let i=index" class="exercise-element">
        <strong class="exercise-name uppercase">
            <a routerLink="/exercise/{{ exercise.id }}" routerLinkActive>{{ exercise.name }}</a>
        </strong>
        <div class="exercise-desc">
            <span>{{ exercise.description }}</span>
        </div>
    </div>
</div>