<div class="jumbotron">
    <h1 class="display-4">Create exercise!</h1>
    <div class="container top-buffer">
        <form #createExercise="ngForm">
            <div class="form-group">
                <label for="name">Exercise name</label>
                <input type="text" name="name" placeholder="Exercise name" [(ngModel)]="exercise.name" #name="ngModel" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="description">Exercise description</label>
                <textarea id="textareaDescription" name="description" [(ngModel)]="exercise.description" #description="ngModel" class="form-control" rows="3" required></textarea>
            </div>
            <div class="float-right">
                <button class="btn btn-primary" (click)="navigateList()">Back</button>
                <button type="submit" class="btn btn-success" [disabled]="!formValid()" (click)="create()">Create</button>
            </div>
        </form>
    </div>
</div>