<div class="alert alert-info" *ngIf="!hasWorkouts()">
    No workouts!
</div>
<div *ngIf="hasWorkouts()" class="top-buffer">
    <div class="row">
        <div class="col-lg-10">
            <h1 class="uppercase">Workouts list:</h1>
        </div>
        <div class="col-lg-2" *ngIf="isSignedIn">
            <button class="btn btn-secondary float-right" [routerLink]="['/workout-create']">Add Workout</button>
        </div>
    </div>
    <hr/>
    <div class="list-group">
        <a *ngFor="let workout of workoutsList; let i=index" [routerLink]="['/workout', workout.id]" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ workout.name }}</h5>
                <!-- <small>3 days ago</small> -->
            </div>
            <p class="mb-1">{{ workout.description }}</p>
            <!-- <small>Donec id elit non mi porta.</small> -->
        </a>
    </div>
</div>