<div class="jumbotron">
    <h1 class="display-4">Create workout!</h1>
    <hr/>
    <div class="container">
        <form #workoutCreate="ngForm">
            <div class="form-group">
                <label for="workoutNameInput">Workout name</label>
                <input type="text" name="name" [(ngModel)]="workout.name" #name="ngModel" class="form-control" id="workoutNameInput" aria-describedby="workoutName" placeholder="Enter workout name" required>
            </div>
            <div class="form-group">
                <label for="workoutDescription">Workout description</label>
                <textarea name="description" [(ngModel)]="workout.description" #description="ngModel" class="form-control" id="workoutDescription" rows="3"></textarea>
            </div>
            <div *ngFor="let day of workout.days; let i = index">
                <div class="form-group day-border rounded">
                    <h5>Day {{ i + 1 }}</h5>
                    <input type="text" name="day{{i}}" [(ngModel)]="workout.days[i].name" #day{{i}}="ngModel" class="form-control" placeholder="Name" />
                    <hr />
                    <div class="row">
                        <div class="col-lg-3">
                            <input type="text" class="form-control" name="exercise" [(ngModel)]="exercise" [ngbTypeahead]="searchExercise" [inputFormatter]="exerciseFormatter" [resultFormatter]="exerciseFormatter" placeholder="Exercise" />
                        </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" name="sets" [(ngModel)]="sets" placeholder="Number of sets" />
                        </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" name="reps" [(ngModel)]="reps" placeholder="Number of reps" />
                        </div>
                        <div class="col-lg-3">
                            <button id="addExerciseSetBtn" type="button" class="btn btn-link" (click)="addExerciseSet(i)">Add Exercise set</button>
                        </div>
                    </div>

                    <table class="table" *ngIf="day.hasExerciseSet()">
                        <thead class="thead-default">
                            <tr>
                                <th>Exercise</th>
                                <th>Sets</th>
                                <th>Reps</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let exerciseSet of day.exerciseSets; let j = index">
                                <td>{{ exerciseSet.exercise.name }}</td>
                                <td>{{ exerciseSet.sets }}</td>
                                <td>{{ exerciseSet.reps }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button id="addWorkoutBtn" type="button" class="btn btn-link" (click)="addDay()">Add day</button>
        </form>
    </div>
</div>
<div>
    Exercise: {{ exercise | json }}
    <hr />
    Exercises: {{ exercises | json }}
    <hr />
    Workout: {{ workout | json }}
</div>